/* Heading Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif, sans-serif !important;
}

/* Navigation */
nav,
footer {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: lightgrey !important;
}

/* Leaflet Map */
#mapid {
  height: 300px;
}

/* Footer */
.fab {
  font-size: 2vw;
  text-decoration: none !important;
}

.fab:hover {
  color: grey !important;
  font-size: 2vw;
  text-decoration: none !important;
}

.f-icon {
  font-size: 2vw;
  color: white !important;
}

.f-icon:hover {
  color: grey !important;
  font-size: 2vw;
  text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
  .fab {
    font-size: 15vw;
  }

  .f-icon {
    font-size: 15vw;
    color: white !important;
  }
}

@media only screen and (max-width: 900px) {
  .fab {
    font-size: 7vw;
  }

  .f-icon {
    font-size: 7vw;
    color: white !important;
  }
}
